/**
 * Lund theme for reveal.js.
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "EB Garamond", "Regular", Helvetica, sans-serif;
  font-size: inherit;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #42affa; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

html {
  font-size: 2.25vmin; }

@media (max-width: 768px) {
  html {
    font-size: 16px; } }

@media (max-width: 568px) {
  html {
    font-size: 14px; } }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

.reveal[class*="pattern--"] {
  background-position: center center;
  background-size: 133vmax auto; }

.reveal.pattern--astro {
  background-color: #d6d2c4;
  background-image: url("../../lib/lund/patterns/astro.png");
  background-repeat: no-repeat;
  background-size: auto auto; }
  .reveal.pattern--astro .logo--background {
    background-image: url("../../figures/logo/lulogo-en.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 4vw;
    margin: 4vw;
    display: inline-block;
    grid-area: header;
    height: 16vmin;
    margin-right: 16vmin;
    width: 16vmin; }
  .reveal.pattern--astro .progress {
    color: #9c6114; }
  .reveal.pattern--astro .controls {
    color: #9c6114; }

.grid-wrapper {
  display: grid; }

.reveal .slides {
  text-align: left; }

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0; }

.reveal .slides > section.past,
.reveal .slides > section.future,
.reveal .slides > section > section.past,
.reveal .slides > section > section.future {
  opacity: 1; }

.reveal .controls {
  right: 4vmin;
  bottom: 4vmin; }
  @media (max-width: 768px) {
    .reveal .controls {
      right: 2vmin;
      bottom: 2vmin; } }

.reveal h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vw;
  color: inherit;
  margin-bottom: 0.5vw; }

.reveal h2 {
  font-weight: normal;
  font-size: 3vw;
  color: inherit; }

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin-bottom: 2.5vmin;
  color: inherit; }

.reveal .slides section {
  box-sizing: border-box;
  padding: 0; }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: block; }

.reveal section img {
  border: none;
  box-shadow: none;
  display: block;
  margin: auto; }

.reveal .slides section {
  height: 100vh;
  margin: 0vw;
  width: 100vw;
  background-color: #FFFFFF; }
  .reveal .slides section .grid-wrapper {
    box-sizing: border-box;
    grid-column-gap: 4vmin;
    grid-row-gap: 2vmin;
    grid-template-areas: "header header header" ". content .";
    grid-template-rows: 16vmin 1fr;
    grid-template-columns: 16vmin 1fr 16vmin;
    height: 100%;
    padding: 4vmin; }
  .reveal .slides section .header {
    align-items: center;
    display: flex;
    grid-area: header; }
  .reveal .slides section .logo {
    background-image: url("../../figures/logo/lulogo-en.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    grid-area: header;
    height: 16vmin;
    margin-right: 16vmin;
    width: 16vmin; }
  .reveal .slides section .section {
    color: #9c6114; }
  .reveal .slides section hr {
    border: solid #9c6114;
    border-width: 4px 0 0 0;
    margin: .8em 0;
    width: 10%; }
  .reveal .slides section .content {
    align-self: center;
    grid-area: content;
    font-size: 2vw; }

.reveal .slides section.title {
  height: calc(100vh - 8vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin);
  color: #9c6114;
  margin-left: 20vw;
  margin-top: 10vw;
  height: 16vw;
  width: 80vw; }
  .reveal .slides section.title #outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    padding: 1vw;
    height: 16vw;
    width: 80vw; }
  .reveal .slides section.title #inner-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr; }
  .reveal .slides section.title .name {
    font-size: 2.5vw; }
  .reveal .slides section.title .role {
    font-size: 2.5vw; }
  .reveal .slides section.title .supervisor {
    font-size: 2.5vw; }
  .reveal .slides section.title .affiliation {
    font-size: 2.5vw; }
  .reveal .slides section.title hr {
    border: solid;
    border-width: 4px 0 0 0;
    margin: 0 0 .8em 0;
    width: 40%; }

.reveal .slides section.normal {
  height: calc(100vh - 8vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin); }

.reveal .slides section.team {
  height: calc(100vh - 8vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin); }
  .reveal .slides section.team .content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 4vmin;
    grid-row-gap: 2vmin; }
  .reveal .slides section.team .profile {
    display: grid;
    grid-column-gap: 2vmin;
    grid-template-rows: 15vmin 1fr; }
  .reveal .slides section.team h2 {
    color: #9292A8;
    font-size: inherit;
    margin-bottom: 0.5em; }
  .reveal .slides section.team p:first-of-type {
    margin-top: 0; }
  .reveal .slides section.team p:last-of-type {
    margin-bottom: 0; }
  .reveal .slides section.team img {
    display: block;
    float: left;
    height: auto;
    margin-right: 2vmin;
    width: auto; }
  .reveal .slides section.team .name {
    margin: 0.6em 0; }
  .reveal .slides section.team .role {
    color: #9292A8;
    font-size: 0.8em;
    margin: 0.6em 0; }
  @media not all and (max-width: 768px) {
    .reveal .slides section.team .profile:first-child:nth-last-child(1) {
      grid-template-rows: auto;
      grid-template-columns: 1fr 4fr; }
      .reveal .slides section.team .profile:first-child:nth-last-child(1) img {
        float: none;
        max-width: none;
        max-height: none;
        width: 100%; } }
  @media (min-width: 1280px) {
    .reveal .slides section.team img {
      float: none;
      max-width: none;
      max-height: 100%;
      width: 100%; }
    .reveal .slides section.team .profile {
      grid-template-rows: auto;
      grid-template-columns: 1fr 3fr; }
    .reveal .slides section.team .profile:first-child:nth-last-child(1) {
      justify-self: center;
      padding: 0 10vmin; } }
  @media (max-width: 768px) {
    .reveal .slides section.team .content {
      grid-auto-flow: row; } }
  @media (max-width: 768px) and (orientation: landscape) {
    .reveal .slides section.team .content {
      grid-auto-flow: column; }
    .reveal .slides section.team .profile {
      grid-template-rows: auto;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2vmin; }
    .reveal .slides section.team img {
      float: left;
      height: auto;
      margin-right: 2vmin;
      max-height: 50%;
      max-width: 40%;
      width: auto; } }
  @media (max-width: 568px) {
    .reveal .slides section.team .content {
      grid-auto-flow: row; }
    .reveal .slides section.team .profile {
      grid-template-rows: auto;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2vmin; }
    .reveal .slides section.team img {
      float: left;
      height: auto;
      margin-right: 2vmin;
      max-height: 50%;
      max-width: 40%;
      width: auto; } }

/*******************************************************************************
 * Code Segments
 ******************************************************************************/
figure.code {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

figure.code pre {
  box-shadow: none;
  font-size: 1rem;
  height: 100%;
  line-height: 1.1rem;
  margin: 0;
  width: 100%;
  overflow: hidden; }

.reveal pre code {
  background-color: #3f3f3f;
  border: 1ex solid #3f3f3f;
  border-width: 1ex 2ex;
  box-sizing: border-box;
  height: 100%;
  max-height: none;
  -moz-tab-size: 2;
  tab-size: 2; }

figure.code figcaption {
  box-sizing: border-box;
  padding: 1ex 2ex;
  width: 100%;
  font-size: 0.875em;
  border: 1px solid #3f3f3f;
  border-bottom-width: 0;
  background-color: #333;
  text-align: left; }

figure.code pre + figcaption {
  border-top-width: 0;
  border-bottom-width: 1px;
  color: #EEEDEF; }

figure.code figcaption.path {
  font-family: monospace; }
