<!doctype html>
<html>
	 <head>
	 	<meta charset="utf-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	 	<title>Lund reveal.js</title>

	 	<link rel="stylesheet" href="css/reveal.css">
	 	<link rel="stylesheet" href="css/theme/lund.css">
	 	<link rel="stylesheet" href="css/presentation.css">

	 	<!-- Theme used for syntax highlighting of code -->
	 	<link rel="stylesheet" href="lib/css/zenburn.css">


	 	<!-- Printing and PDF exports -->
	 	<script src="js/reveal-print.js"></script>
   <script>
     if( window.location.search.match( /print-pdf/gi ) ) {
       var link = document.createElement( 'link' );
       link.rel = 'stylesheet';
       link.type = 'text/css';
       link.href = 'reveal.js/css/print/pdf.css';
       document.getElementsByTagName( 'head' )[0].appendChild( link );
     }
   </script>
	 </head>

	 <body>
	 	 <div class="reveal pattern--astro">
      <!-- Define LaTeX macros -->
      <span class="visually-hidden">
        \(
           \def\bra#1{{\langle #1 |}}
           \def\ket#1{{| #1 \rangle}}
           \def\braket#1#2{{\langle #1 | #2 \rangle}}
        \)
      </span>

      <div class="logo--background"><span class="visually-hidden">Lund</span></div>
	 	 	 <div class="slides">

       <!-- Title new slide -->
       <section class="title" id="title">
         <div id="outer-grid">
           <h1>Title</h1>
           <h2>Subtitle</h2>
           <div id="inner-grid">
             <div class="name">Mattias Bertolino</div>
             <div class="supervisor">Supervisor: Jan Marcus Dahlström</div>
             <div class="affiliation">Lund University</div>
         </div>
       </section>

       <!-- Normal slides -->
	 	 	 	<section class="normal" id="methods">
	 	 	 	 	<div class="grid-wrapper">
	 	 	 	 		<div class="header">
	 	 	 	 			<div class="logo"></div>
           <div class="section">
             <h1>Equations</h1>
             <h2>Some equations</h2>
           </div>
	 	 	 	 		</div>
          </hr>
	 	 	 	 		<div class="content">
            Lorentz equations
            \[\begin{aligned}
            \dot{x} &amp; = \ket{\sigma(y-x)} \\
	 				      \dot{y} &amp; = \rho x - y - xz \\
	 				      \dot{z} &amp; = -\beta z + xy
	 				      \end{aligned} \]
            
            Cauchy-Schwartz inequality
            \[
	 					       \left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
            \]
          </div>
	 	 	 	 	</div>
	 	 	 	</section>

       <section class="normal" id="methods-lapi">
	 	 	 	 	<div class="grid-wrapper">
	 	 	 	 		<div class="header">
	 	 	 	 			<div class="logo"></div>
           <div class="section">
             <h1>Laser-assisted photoionization</h1>
             <h2>Teaser</h2>
           </div>
	 	 	 	 		</div>
          </hr>
          <div class="content">
            <p>Laser-assisted photoionization: Photoionization with laser-induced continuum-continuum transitions</p>
            \[ \mathrm{A} + \gamma_{\mathrm{XUV}} \pm n \gamma_{\mathrm{IR}} \to \mathrm{A}^+ + \mathrm{e}^- \]
              <div class="img">
                <img src="figures/raw_H1s.svg" width=40% />
              </div>
          </div>
	 	 	 	 	</div>
	 	 	 	</section>


	 	 	 	<!-- Team page can accommodate one or two profiles. -->
	 	 	 	<section class="team" id="team">
	 	 	 		 <div class="grid-wrapper">
	 	 	 		 	<div class="header">
	 	 	 		 		<div class="logo"></div>
	 	 	 		 		<div class="section">
             <h1>Thank you</h1>
           </div>
	 	 	 		 	</div>
	 	 	 		 	<div class="content">
	 	 	 		 		<div class="profile">
	 	 	 		 		 	<div class="basics">
	 	 	 		 		 		<img src="lib/lund/photos/marcus.png" witdh=10% />
	 	 	 		 		 		<div class="name">Marcus Dahlström</div>
	 	 	 		 		 		<div class="role">Main supervisor</div>
	 	 	 		 		 		</div>
	 	 	 		 		</div>
	 	 	 		 		<div class="profile">
	 	 	 		 		 	<div class="basics">
	 	 	 		 		 		<img src="lib/lund/photos/anne.png" width=10% />
	 	 	 		 		 		<div class="name">Anne L'Huillier</div>
	 	 	 		 		 		<div class="role">Co-supervisor</div>
	 	 	 		 		 	</div>
	 	 	 		 		</div>
	 	 	 		 		<div class="profile">
	 	 	 		 		 	<div class="basics">
	 	 	 		 		 		<img src="lib/lund/photos/eva.png" width=10% />
	 	 	 		 		 		<div class="name">Eva Lindroth</div>
	 	 	 		 		 		<div class="role">Co-supervisor</div>
	 	 	 		 		 	</div>
	 	 	 		 		</div>
	 	 	 		 	</div>
	 	 	 		 </div>
	 	 	 	</section>

       <!-- Code slide -->
	 	 	 	<section class="normal code color--dark" id="code--path">
	 	 	 		 <div class="grid-wrapper">
	 	 	 		 	<div class="header">
	 	 	 		 		<div class="logo"></div>
	 	 	 		 		<div class="section">
             <h1>Section</h1>
           </div>
	 	 	 		 	</div>
          <div class="content">
	 	 	 		 	<figure class="code">
	 	 	 		 		<!--
	 	 	 		 			Code highlighting is performed by highlight.js

	 	 	 		 			Leading whitespace is trimmed by default.  Add the data-notrim attribute to the code element to preserve it.
	 	 	 		 			If showing an HTML example, add the data-escape attribute to the code element.
	 	 	 		 		-->
	 	 	 		 		<pre><code class="lang-php">
	 	 	 		 			namespace \reveal;

	 	 	 		 			function foo() {
	 	 	 		 				echo "bar";
	 	 	 		 			}
	 	 	 		 		</code></pre>
	 	 	 		 		<!-- figcaption element is optional, can be placed above or below code  -->
	 	 	 		 		<figcaption class="path">/src/reveal/functions.php</figcaption>
	 	 	 		 	</figure>
          </div>
	 	 	 		 </div>
	 	 	 	</section>
	 	 	</div>
	 	</div>

	 	<script src="lib/js/head.min.js"></script>
	 	<script src="js/reveal.js"></script>
	 	<script src="js/reveal-init.js"></script>
	 </body>
</html>
