/**
 * Lund theme for reveal.js.
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

//// Include theme-specific fonts
//@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
//@import url(../../lib/font/poppins/poppins.css);

// Override theme settings (see ../template/settings.scss)
// Colors
$LundIvory: #d6d2c4;
$LundBlue: #000080;
$LundLightblue: #b9d3dc;
$LundCopper: #9c6114;
$LundPink: #e9c4c7;
$LundGreen: #adcab8;

$white: #FFFFFF;
$light-grey: #EEEDEF;
$grey: #66646B;
$black: #22272B;
$ice: #9292A8;

$title-bg: $LundIvory;
$backgroundColor: #fff;
$mainColor: #222;
$headingColor: #222;

$mainFontSize: inherit;
$mainFont: 'EB Garamond', 'Regular', Helvetica, sans-serif;
$headingFont: inherit;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none; $headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

$viewport-tiny: "max-width: 568px";
$viewport-small: "max-width: 768px";
$viewport-wide: "min-width: 1280px";


// Header
$headerLogoHeight: 16vmin;
$slidePadding: 4vmin;

html {
	font-size: 2.25vmin;
}
@media (#{$viewport-small}) {
	html {
		font-size: 16px;
	}
}
@media (#{$viewport-tiny}) {
	html {
		font-size: 14px;
	}
}

.visually-hidden {
 	position: absolute !important;
 	clip: rect(1px, 1px, 1px, 1px);
 	overflow: hidden;
 	height: 1px;
 	width: 1px;
 	word-wrap: normal;
}

.reveal[class*="pattern--"] {
 	background-position: center center;
 	background-size: 133vmax auto;
}

.reveal.pattern--astro {
  background-color: $title-bg;
 	background-image: url('../../lib/lund/patterns/astro.png');
  background-repeat: no-repeat;
 	background-size: auto auto;
 
 	.logo--background {
    background-image: url("../../figures/logo/lulogo-en.svg");
 		 background-repeat: no-repeat;
 		 background-size: auto 100%;
    padding: 4vw;
    margin: 4vw;
 		 display: inline-block;
 		 grid-area: header;
 		 height: $headerLogoHeight;
 		 margin-right: $headerLogoHeight;
 		 width: $headerLogoHeight;
 	}

 	.progress {
 		color: $LundCopper;
 	}
 	.controls {
 		color: $LundCopper;
 	}
}

.grid-wrapper {
	display: grid;
}

.reveal .slides {
	 text-align: left;
}
.reveal .slides > section,
.reveal .slides > section > section {
 	padding: 0;
}
.reveal .slides > section.past,
.reveal .slides > section.future,
.reveal .slides > section > section.past,
.reveal .slides > section > section.future {
 	opacity: 1;
}
.reveal .controls {
 	right: 4vmin;
 	bottom: 4vmin;
 
 	@media (#{$viewport-small}) {
 		 right: 2vmin;
 		 bottom: 2vmin;
 	}
}

.reveal h1 {
	 text-transform: uppercase;
  font-weight: bold;
  font-size: 3vw;
  color: inherit;
  margin-bottom: 0.5vw;
}
.reveal h2 {
  font-weight: normal;
  font-size: 3vw;
  color: inherit;
}
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	 margin-bottom: 2.5vmin;
	 color: inherit;
}

.reveal .slides section {
	 box-sizing: border-box;
	 padding: 0;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
	 display: block;
}

.reveal section img {
	 border: none;
	 box-shadow: none;
  display: block;
  margin: auto;
}

@mixin section ($margin: 0) {
	 @if ($margin == 0) {
	  	height: 100vh;
	  	margin: 0vw;
	  	width: 100vw;
	 }
	 @else {
	  	height: calc(100vh - #{2 * $margin});
	  	margin: $margin;
	  	width: calc(100vw - #{2* $margin});
	 }
}

.reveal .slides section {
 	@include section();
 
 	background-color: $white;
 
 	.grid-wrapper {
 	 	box-sizing: border-box;
 	 	grid-column-gap: $slidePadding;
 	 	grid-row-gap: $slidePadding/2;
 	 	grid-template-areas: "header header header" ". content .";
 	 	grid-template-rows: $headerLogoHeight 1fr;
    grid-template-columns: $headerLogoHeight 1fr $headerLogoHeight;
 	 	height: 100%;
 	 	padding: $slidePadding;
 	}
 
 	.header {
 		 align-items: center;
 		 display: flex;
 		 grid-area: header;
 	}

 	.logo {
    background-image: url("../../figures/logo/lulogo-en.svg");
 		 background-repeat: no-repeat;
 		 background-size: auto 100%;
 		 display: inline-block;
 		 grid-area: header;
 		 height: $headerLogoHeight;
 		 margin-right: $headerLogoHeight;
 		 width: $headerLogoHeight;
 	}
 
 	.section {
    color: $LundCopper;
 	}

  hr {
  	 border: solid $LundCopper;
  	 border-width: 4px 0 0 0;
  	 margin: .8em 0;
  	 width: 10%;
  }
 
 	.content {
 		 align-self: center;
 		 grid-area: content;
    font-size: 2vw;

 	}
}

.reveal .slides section.title {
 	@include section(4vmin);
 	color: $LundCopper;
 	margin-left: 20vw;
 	margin-top: 10vw;
  height: 16vw;
 	width: 80vw;
  
  #outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    padding: 1vw;
    height: 16vw;
    width: 80vw;
  }
  //#outer-grid > div {
  //  background-color: orangered;
  //}
  #inner-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
  
 	.name {
 	 	//font-weight: bold;
    font-size: 2.5vw;
 	}
 	.role {
    font-size: 2.5vw;
 	}
 	.supervisor {
    font-size: 2.5vw;
 	}
 	.affiliation {
    font-size: 2.5vw;
 	}

 	hr {
 	 	border: solid;
 	 	border-width: 4px 0 0 0;
 	 	margin: 0 0 .8em 0;
 	 	width: 40%;
 	}
}

// Normal slide
.reveal .slides section.normal {
 	@include section(4vmin);
}

// Team slide
.reveal .slides section.team {
 	@include section(4vmin);
 	.content {
 		display: grid;
 		grid-auto-columns: 1fr;
 		grid-auto-rows: 1fr;
 		grid-auto-flow: column;
 		grid-column-gap: $slidePadding;
 		grid-row-gap: $slidePadding/2;
 	}
 
 	.profile {
 		display: grid;
 		grid-column-gap: $slidePadding/2;
 		grid-template-rows: 15vmin 1fr;
 	}
 
 	h2 {
 		color: $ice;
 		font-size: inherit;
 		margin-bottom: 0.5em;
 	}
 	p:first-of-type {
 		margin-top: 0;
 	}
 	p:last-of-type {
 		margin-bottom: 0;
 	};
 
 	img {
 		display: block;
 		float: left;
 		height: auto;
 		margin-right: $slidePadding/2;
 		width: auto;
 	}
 	.name {
 		margin: 0.6em 0;
 	}
 
 	.role {
 		color: $ice;
 		font-size: 0.8em;
 		margin: 0.6em 0;
 	}
 
 
 	// When only one profile.
 	@media not all and ($viewport-small) {
 		.profile:first-child:nth-last-child(1) {
 			grid-template-rows: auto;
 			grid-template-columns: 1fr 4fr;
 
 			img {
 				float: none;
 				max-width: none;
 				max-height: none;
 				width: 100%;
 			}
 		}
 	}
 
 	@media ($viewport-wide) {
 		img {
 			float: none;
 			max-width: none;
 			max-height: 100%;
 			width: 100%;
 		}
 		.profile {
 			grid-template-rows: auto;
 			grid-template-columns: 1fr 3fr;
 		}
 		// When only one profile.
 		.profile:first-child:nth-last-child(1) {
 			justify-self: center;
 			padding: 0 10vmin; // Same value as slide padding.
 		}
 	}
 
 	@media ($viewport-small) {
 		.content {
 			grid-auto-flow: row;
 		}
 	}
 
 	@media ($viewport-small) and (orientation: landscape) {
 		.content {
 			grid-auto-flow: column;
 		}
 
 		.profile {
 			grid-template-rows: auto;
 			align-items: center;
 			display: grid;
 			grid-template-columns: 1fr;
 			grid-column-gap: $slidePadding/2;
 		}
 
 		img {
 			float: left;
 			height: auto;
 			margin-right: $slidePadding/2;
 			max-height: 50%;
 			max-width: 40%;
 			width: auto;
 		}
 	}
 
 	@media ($viewport-tiny) {
 		.content {
 			grid-auto-flow: row;
 		}
 		.profile {
 			grid-template-rows: auto;
 			align-items: center;
 			display: grid;
 			grid-template-columns: 1fr;
 			grid-column-gap: $slidePadding/2;
 		}
 
 		img {
 			float: left;
 			height: auto;
 			margin-right: $slidePadding/2;
 			max-height: 50%;
 			max-width: 40%;
 			width: auto;
 		}
 	}
}


/*******************************************************************************
 * Code Segments
 ******************************************************************************/
figure.code {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
figure.code pre {
	box-shadow: none;
	font-size: 1rem;
	height: 100%;
	line-height: 1.1rem;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.reveal pre code {
	background-color: #3f3f3f;
	border: 1ex solid #3f3f3f;
	border-width: 1ex 2ex;
	box-sizing: border-box;
	height: 100%;
	max-height: none;
	-moz-tab-size: 2;
	tab-size: 2;
}
figure.code figcaption {
	box-sizing: border-box;
	padding: 1ex 2ex;
	width: 100%;
	font-size: 0.875em;
	border: 1px solid #3f3f3f;
	border-bottom-width: 0;
	background-color: #333;
	text-align: left;
}
figure.code pre + figcaption {
	border-top-width: 0;
	border-bottom-width: 1px;
	color: $light-grey;
}
figure.code figcaption.path {
	font-family: monospace;
}

